<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Pet's Place</h1>
    <p>Register your pet here!</p>

    <form method="POST">
        {{form.hidden_tag()}}
        {{form.own_name.label}}
        {{form.own_name}}<br>
        {{form.pet_type.label}}
        {{form.pet_type}}<br>
        {{form.pet_breed.label}}
        {{form.pet_breed}}<br>
        {{form.pet_name.label}}
        {{form.pet_name}}<br>
        {{form.pet_age.label}}
        {{form.pet_age}}<br>
        {{form.submit}}
    </form>
</body>
</html>