<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Thank You. Your data:</p>
    <ul>
        <li>Breed: {{session['breed']}}</li>
        <li>Tomcat: {{session['tomcat']}}</li>
        <li>Food choice: {{session['food_choices']}}</li>
        <li>Feedback: {{session['feedback']}}</li>
    </ul>
</body>
</html>